<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <!--Linked in Twitter Bootstrap framework. -->
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
  <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> 

    <title>LAURA PEGG</title>
  </head>
  <body>
    <div><h1>I am a first class graduate looking for a role that will challenge me</h1>
      <h2>LAURA PEGG</h2>
</div>
<div><h4>I am a motivated graduate with a First Class Honours degree whose competency and adaptability is demonstrated through my work in the cultural and charitable sectors. An enthusiastic team player, I pride myself in bringing creativity, initiative and analytical skills to my work. Currently teaching myself how to code as I enjoy the challenge and opportunity to learn.</h4>
</div>
<div>
  <h2><a href="<larocupe.github.io/curriculum-vitae/_layouts/about.html" target="_blank">Education</a></h2>
 
<ul>
  <li>University of Warwick, 2015-2018, History of Art(BA), First class honours</li>
  <li>Bootham School, York, September 2007- July 2014</li>  
<li>August 2014 - A levels: Classical Civilisation (A), History (A), General Studies (A), Biology (B)</li>                                
<li>August 2012 - GCSE’s: A*: Maths, English Literature, English Language, French, Art;  
  A: Biology, Chemistry, Physics, History, Latin; B: Geography</li>
  </ul>
</div>
<div>
  <h2>WORK EXPERIENCE</h2> 
<h4>Visitor Experience Assistant, National Trust, Cumbria, September 2018 - Present</h4> 
<p>I work in a team providing engaging and informed interpretation to visitors at Hill Top and the Beatrix Potter Gallery. 
The role also requires initiative and flexibility, to maintain high conservation and security standards, cover retail duties and conduct health and safety checks.</p>

<h4>Youth Engagement Intern, British Red Cross, London, June - September 2017</h4>
<p>I was responsible for the Summer Work Experience scheme, identifying placements within the organisation, shortlisting and interviewing candidates from 300 applications. I coordinated and led their induction and provided continued mentor support.
I planned and hosted the annual Intern Showcase event, generated organisation-wide communication to select speakers and disseminate promotional material for the event. I was part of a team hosting delegates and speakers at the International Red Cross and Crescent Fundraising Conference.</p>
  <h4>Student Staff Liaison Committee member, University of Warwick, October 2016- June 2018</h4> 
<p>I was elected by my peers to speak on their behalf in meetings with Departmental representatives and university course review boards. I played a proactive role in the implementation of career related tutor meetings, the continuation of study skills modules and reviews of the department’s assessment methods.</p>
<h4>Conservation Intern and volunteer at the National Railway Museum, York, January 2015 - April 2017</h4>
<p>Following a month-long internship at the National Railway Museum in their Conservation Department I became a part time volunteer. I assisted with large projects such as monitoring the condition of the Royal Carriages and preparing artefacts for exhibitions.</p> 
</div>
<div>
  <h2>VOLUNTEERING</h2> 
  <h4>Student Ambassador, University of Warwick, October 2015 – June 2018</h4> 
<p>I worked as a team with my professors and peers, representing the department, engaging with prospective students and their families to inform them and promote the university.</p>    
<h4>History of Art Society Treasurer, University of Warwick, June 2017- June 2018</h4> 
<p>Effectively managed an events budget of £500 and coordinated with the treasurer of the larger History Society to negotiate and manage further expenses.</p>       
  <h4>Nightline Volunteer, University of Warwick, January 2017 - June 2018</h4>
<p>I provided confidential student support as part of a student run service team, throughout the term from 8PM-8AM. This included trained phone call responses, running a messaging service and attending to drop ins.</p>     
  <h4>Raleigh International Volunteer, Tanzania, October- December 2014</h4>
<p>Volunteered with this sustainable development organisation in Tanzania on health and education issues. As a team we produced learning materials, planned and led events in the community with minimal resources. I negotiated cross team working and built relationships with local groups to accomplish project objectives.
Successfully undertook a series of fundraising challenges beforehand to achieve my £2000 target and to raise awareness of this youth orientated charitable organisation.</p>
</div>
<div>
  <h3>SKILLS AND ACHIEVEMENTS</h3>
<ul>
  <li>Proficient in Microsoft Office, Word, PowerPoint, Excel and Outlook.</li>  
  <li>2017- Code First Course, an 8-week introduction to coding and website development</li>
<li>2016 - Beginners level Italian qualification from Ca’ Foscari University during 3-month term in Venice (as part of Warwick’s Venice Programme for History of Art)</li>
<li>2015- Full Driving License</li>
  <li>2014 – Girlguiding Leadership Qualification</li> 
  <li>2011-2014 - Duke of Edinburgh’s Award at Gold, Silver and Bronze</li> 
  <li>2012,13,14- Lord Mayor of York Young Volunteer award recipient</li> 
  </ul>
</div>
<div>
  <h3>Interests</h3>
Historic Houses Association member, Advanced Open Water Diver- PADI recognised, former member of University of Warwick’s Mixed Hockey Club, Grade 7 piano player, keen traveler, skier and hiker. 
</div>
<div>
References available on request 
</div>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h4 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h4>
        
    </header>
